.top-container
  #summary-container
    = render :partial => 'accounts/summary'
  #transaction-container
    = render :partial => 'transactions/form'
  
  = render :partial => 'accounts/index'

  #account-container
    = render :partial => 'accounts/form'
