#summary-container
  = render :partial => 'accounts/summary'

.tabs.group
  %label.active
    %a{:onclick => "selectAction('transaction');"} Add Transaction
  %label
    %a{:onclick => "selectAction('account');"} Add Account
  %label
    %a{:onclick => "selectAction('transfer');"} Add Transfer

.container-wrapper
  #transaction-container
    = render :partial => 'transactions/form'
  #account-container
    = render :partial => 'accounts/form'
  #transfer-container

= render :partial => 'accounts/index'
