#app_title
  #first
    Fin
  #second
    aPP
.top-container
  .accounts-container
    %table
      %thead
        %tr
          %th Name
          %th Type
          %th Balance
          %th{:colspan => "3"}
      %tbody
        - @accounts.each do |account|
          %tr
            %td= account.name
            %td= account.account_type
            %td= account.balance
  .tansaction-container
