// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#app_title {
  width: 960px;
  height: 80px;
  padding: 15px 0px;
  font: bold 70px "HelveticaNeue-CondensedBold", "Helvetica Neue", "Droid Sans", helvetica, sans-serif;
  margin: auto;
}

#first {
  color: #00BFFF;
  float: left;
  margin-left: 37%;
}

#second {
  color: #FF1493;
}

.label {
  list-style: none;
  padding: 0px;
}

.tabs label, .tabs label a:hover{ 
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-topleft:10px;
  border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
}

.tabs label {
  display: inline-block;
  text-align: center;
  width: 33.1%;
  background: #A0A0A0;
  height: 30px;
}

.tabs label a {
  display: block;
  padding: 4px 10px;
  position: relative;
  text-decoration: none;
  line-height: 22px;
  font-size:15px;
  font-weight: bold;
  color: #000;
}

.tabs label a:hover {
  background: #E8E8E8; 
}

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

.container-wrapper { position: relative; min-height: 150px; }

#summary-container, #accounts-container {
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-topleft:10px;
  border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  -moz-border-radius-bottomright:10px;
  border-bottom-right-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  border-bottom-left-radius:10px;
}

#transaction-container, #account-container, #transfer-container {
  -webkit-border-bottom-right-radius:10px;
  -moz-border-radius-bottomright:10px;
  border-bottom-right-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  border-bottom-left-radius:10px;
}

.selected {
  z-index: 10;
}

.active {
  background: #E8E8E8 !important;
}

#summary-container {
  width: 100%;
  height: 50px;
  background-color: #9ACD32;
  margin-bottom: 15px;
}

.balance_info {
  color: #000000;
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  width: 33%;
  float: left;
}

#accounts-container, #transactions-container {
  padding: 5px 5px;
  width: 100% !important;
}

#accounts-container th, #transactions-container th {
  font-size: 16px;
  font-weight: bold;
}

#accounts-container td, #transactions-container td {
  padding: 5px 15px;
  font-size: 15px;
}

#accounts-container_wrapper {
  margin-bottom: 15px;
}

#transaction-container, #account-container {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  background-color: #E8E8E8;
  height: 125px;
  position: absolute;
}

.field {
  padding: 10px;
  display: inline;
  float: left;
}

.field label {
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
}

.actions {
  display: block;
  margin-left: 42%;
  margin-top: 15px;
}

.button {
  padding: 5px;
  -moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  box-shadow:inset 0px 1px 0px 0px #cae3fc;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color:#79bbff;
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topright:5px;
  border-top-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomright:5px;
  border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-left-radius:5px;
  text-indent:0;
  border:1px solid #469df5;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  width:200px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #287ace;
}

#transaction-container textarea, #account-container textarea {
  height: 16px;
}

#new_transaction, #new_account{
  padding-top: 5px;
}

.line-separator {
  background: #717171;
  border-bottom:1px solid #313030;
  clear: both;
  margin: auto;
  width: 95%; 
}

