.top-container {
  width: 90%;
  margin: auto;
  border-style: hidden;
  background-color: #FFF;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
  color: #222;

}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  text-decoration: none !important;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#title-bar {
  width: 90%;
  margin: auto;
  display: block;
  padding: 15px 0px;
  height: 80px;
}

#app-title {
  width: 20%;
  font: bold 70px "HelveticaNeue-CondensedBold", "Helvetica Neue", "Droid Sans", helvetica, sans-serif;
  margin: auto;
  display: block;
  float: left;
}

#first {
  color: #DCDCDC;
  float: left;
}

#second {
  color: #83A532;
}

#menu-bar {
  width: 65%;
  height: 35px;
  margin-top: 35px;
  margin-left: 15%;
  //background-color: #DCDCDC;
  display: inline-block;
}

.menu {
  width: 25%;
  font: lighter 15px "HelveticaNeue-CondensedBold", "Helvetica Neue", "Droid Sans", helvetica, sans-serif;
  margin: auto;
  float: left; 
  line-height: 35px;
}

.menu a {
  color: #000000;
}
