%table#transactions-container{:data => {:source => "#{params[:account_id].present? ? account_transactions_url : transactions_url}"}}
  %thead
    %tr
      %th Date
      %th Account
      %th Transaction type
      %th Amount
      %th Remark
